@media(max-width:560px){
    .mobile-item{
        display: none !important;
    }

    .content-wrapper {
         padding: 0.75rem 0.5rem 0 !important;
      
    }
    .quick-action{
        display: none !important;
    }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown{
        left: -23px !important;
    }

    .report-desktop{
        display: none !important;
    }
    .report-mobile{
        display: flex !important;
    }

    .quick-action-desktop{
        display: none !important;
    }

    .quick-action-mobile{
        display: flex !important;
    }

    .mobile-container{
        padding: 0px !important;
    }

    /* div.dataTables_wrapper div.dataTables_filter input {
        background: #e9e9e9;
        height: 10px !important;
        width: 30% !important;
        
    } */

    /* .mobile-disp{
        display: block !important;
        font-size: 10px !important;
        padding: 5px !important;
    }

    .desktop-disp{
        display: none !important;
    } */


    /* .deskt-tble{
        display: none !important;
    }

    .mobile-disp{
        display: block !important;
    }

    div.dataTables_wrapper div.dataTables_filter input{
        width: 80% !important;
        height: 33px;
    }
*/
div.dataTables_wrapper div.dataTables_info{
    display: none !important;
}

.table-responsive {
    display: block !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

}
    
.mycard .card .card-body{
    padding: 4px !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.9em !important;
    display: inline-block;
    width: 100% !important;
}


}

.table-responsive {
    display: inline-table;
   
}